# Virtual Environments
venv/
.venv/
__pycache__/

# Compiled C++ Binaries & Build Files
cpp_engine/nnue_engine
cpp_engine/pgn_to_epd
cpp_engine/gforce
cpp_engine/test_*
cpp_engine/CMakeFiles/
cpp_engine/CMakeCache.txt
cpp_engine/Makefile
cpp_engine/cmake_install.cmake

# Massive Training Datasets (Do NOT push to GitHub)
*.epd
*.pgn
*.jsonl
*.jsonl.zst
eval_chunk_*
stockfish/

# PyTorch Checkpoint States
best_model.pth
*.pt

# OS Generated
.DS_Store
play_match.py
/Stockfish
